.menu {
    position: fixed;
    z-index: 100;

    .menubar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5em;
        z-index: 100;

        #logo {
            a {
                @extend .gantari-regular;
                font-size: 18px;
                color: var(--color-white);
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    font-weight: 700;
                }
            }
        }

        .menu-toggle {
            cursor: pointer;

            .line-container {
                position: relative;
                display: flex;
                align-items: center;
                width: 70px;
                height: 70px;
                cursor: pointer;

                .horizontal-line,
                .vertical-line {
                    margin: 0 auto;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: var(--color-white);
                }

                .vertical-line {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .overlay {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 2.5em 2.5em 4em 2.5em;
        overflow: hidden;
        background-color: var(--color-beige);
        color: var(--color-darkgrey);
        z-index: 2;
        will-change: transform;
        @extend .gantari-regular;

        .overlay-menu {
            flex: 1 0;
            width: 100vw;
            display: flex;
            gap: 4em;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .menu-item {
            display: flex;
            cursor: pointer;
        }

        .menu-item p {
            position: relative;
            text-align: center;
            font-size: 10vw;
            line-height: 80%;
            will-change: transform;
        }

        .menu-item a {
            text-decoration: none;
            outline: none;
            color: var(--color-darkgrey);
        }

        .menu-footer {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-end;
            justify-content: center;
            gap: 30px;

            .menu-social-media {
                display: flex;
                cursor: pointer;
            }

            .menu-social-media a {
                text-decoration: none;
                color: var(--color-darkgrey);
                background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 200, 200)), linear-gradient(to right, var(--color-darkgrey), var(--color-darkgrey), var(--color-darkgrey));
                background-size: 0 0.1em, 0 0.1em;
                background-position: 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size 400ms;
                &:hover,
                &:focus {
                    background-size: 0 0.1em, 100% 0.1em;
                }
            }
        }
    }
}