* {
	&::-webkit-scrollbar {
		display: none;
	}
}

html {
	--c: calc(100% - (24px * 11) / 12);
}

html,
body {
	font-family: $font-default;
	box-sizing: border-box;
}

body {
	/* make the body fits our viewport */
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}