.home-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 8px;
    max-width: 0.25rem; /* 4px */
}